$black: #262626;
$warm-grey: #999999;
$light-grey: #f4f4f4;
$light-grey-bg: #f4f4f4;
$pinkish-grey: #cacaca;
$avocado-green: #72b023;
$green: #527f18;
$white: white;
$red: #bb2d2d;
$whiter-white: #ededed;
$blue: #155aab;
$yellow: #ffcc00;
$green-beat: #23d2aa;
