
  .regular {
    font-family: 'DIN Next W06 Regular', DINPro-Regular, PFDinTextPro-Regular,
      sans-serif !important;
    font-weight: 400;
    font-size-adjust: 0.5;
  }
  
  .bold {
    font-family: 'DIN Next W06 Bold', DINPro-Bold, PFDinTextPro-Bold, sans-serif !important;
    font-weight: 600;
    font-size-adjust: 0.5;
  }
  
  .medium {
    font-family: 'DIN Next W06 Medium', PFDinTextPro-Medium, sans-serif !important;
    font-weight: 500;
    font-size-adjust: 0.5;
  }
  
  .extrathin {
    font-family: 'DIN Next W06 Ultra Light', PFDinTextPro-ExtraThin, sans-serif !important;
    font-weight: 100;
    font-size-adjust: 0.5;
  }
  
  .thin {
    font-family: 'DIN Next W06 Ultra Light', PFDinTextPro-Thin, sans-serif !important;
    font-weight: 200;
    font-size-adjust: 0.5;
  }
  
  .light {
    font-family: 'DIN Next W06 Light', PFDinTextPro-Light, sans-serif !important;
    font-weight: 300;
    font-size-adjust: 0.5;
  }
  
  /* Font Size */
  
  .font-40 {
    font-size: 2.5rem;
  }
  
  .font-36 {
    font-size: 2.25rem;
  }
  
  .font-32 {
    font-size: 2rem;
  }
  
  .font-30 {
    font-size: 1.875rem;
  }
  
  .font-24 {
    font-size: 1.5rem;
  }
  
  .font-20 {
    font-size: 1.25rem;
  }
  
  .font-18 {
    font-size: 1.125rem;
  }
  
  .font-16 {
    font-size: 1rem;
  }
  
  .font-15 {
    font-size: 0.9375rem;
  }
  
  .font-14 {
    font-size: 0.875rem;
  }
  
  .font-12 {
    font-size: 0.75rem;
  }
  
  .font-10 {
    font-size: 0.625rem;
  }
  