@use "bootstrap/scss/bootstrap";

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  --font-regular: 'GT Pressura Regular', Roboto;
  --font-bold: 'GT Pressura Bold', Roboto;
  --font-mono: 'GT Pressura Mono Regular', Roboto;
  --font-mono-bold: 'GT Pressura Mono Bold', Roboto;
  --font-icon: 'beat-iconfont';
}
